body {
    background-color: #b4d2d8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh; 
    color: rgb(38, 43, 43));
}


#exchangeForm {
    background-color: #93dccf;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(23, 185, 230)(0, 0, 0, 0.1);
    margin-top: 20px; 
    align-items: center;
}

#results-container {
    background-color: rgb(97, 145, 147);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(83, 81, 81, 0.1);
}


#displayResults {
    margin-top: 20px;
    font-size: 18px;
    opacity: 0; 
    transition: opacity 0.5s, transform 0.5s; 
    transform: translateX(-100%);
}

#displayResults.show {
    opacity:1;
    transform: translateX(0);
}